footer .contenedor{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 25px;

}


.copy{
	font-size: 20px;

}

.sociales{
	width: 100%;
	justify-content: center;
	text-align: center;
	font-size: 28px;
}

.sociales a{
	color: #333;
	text-decoration: none;
}